:root {
  --background: #FFFCF2;
  --foreground: #171717;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  text-align: center;
  font-size: 5vw;
  color: #202020;
}

h2 {
  font-size: 3.5vw;
  color: #202020;
}

h3{
  font-size: 2.5vw;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #202020;
}

h4{
  font-size: 1.8vw;
  font-weight: 400;
  color: #202020;
}

p{
  font-size: 1.6vw;
  color: #202020;
}

button{
  font-size: 1.6vw;
  color: #202020;
}

@media screen and (max-width: 1000px) {
  h1{
    font-size: 8vw;
  }
  h2 {
    font-size: 6.5vw;
  }
  h3{
    font-size: 5vw;
  }
  
  h4{
    font-size: 4vw;
  }
  p{
    font-size: 4.4vw;
  }
  button{
    font-size: 4vw;
  }
  td{
    font-size: 4vw;
  }
}