.item{
    margin-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #202020;
}
.imageArea{
    height: 20vw;
    position: relative;
}
.image{
    object-fit: cover;
}

@media screen and (max-width:1000px) {
    .imageArea{
        height: 50vw;
    }
}