.section{
    width: 100%;

    padding-inline: 10vw;
    display: flex;
    padding-top: 10vw;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.mainTitle{
    height:100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    text-align: left;

}

.textP{
    text-align: left;
    margin-top: 3vw;
}
.video{
    width: 100%;
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about{
    padding: 5vw 0;
}
.benefits{
    margin-top: 10vw;
    width: 100%;
    padding-inline: 20%;
    display: flex;
    gap:3vw;
    justify-content: space-between;
}
.benefitsItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
.benefitsText{
    text-align: center;
}
.twoClumns{
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;

    width: 100%;
    padding-inline: 10vw;
}
.carcas{
    width: 40vw;
    height: auto;
}
.textOf{
    margin-bottom: 2vw;
}

@media screen and (max-width: 1000px) {
    .section{
        flex-direction: column;
        padding: 35vw 5vw 0;
    }
    .benefits{
        flex-direction: column;
        gap: 6vh;
    }
    .video{
        height: 100vw;
    }
    .text{
        text-align: center;
    
    }
    
    .textP{
        text-align: center;
        margin-top: 3vw;
    }
    .twoClumns{
        grid-template-columns: 1fr;
    }
    .carcas{
        width: 100%;
        height: auto;
    }
}
.block{
    width: 100%;

}

.table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.6vw;
}
.block th, .block td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.priceText{
    margin-top: 4vw;
}
@media screen and (max-width: 1000px) {
    .table{
        font-size: 3vw;
    }
    .titleblock{
        padding: 0 5vw;
    }
}
